<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link type="text/css" href="{% static 'core/css/styles.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>

<header>
    <nav>
      <ul>
          <li><a href="{% url 'Home_Page' %}">КОМПАНИЯ(HOME)</a></li>
          <li><a href="#">Вход</a>/</li>
          <li><a href="#">Регистрация</a></li>
      </ul>
    </nav>
  </header>

  <div class="sidebar">
    <ul>
      <li><a href="{% url 'user_threads' %}">Мои обсуждения</a></li>
      <li><a href="#">Создать обсуждение</a></li>
      <li><a href="#">Обсуждения</a></li>
    </ul>
  </div>

  <div class="main-content">
    {% block content %}{% endblock %}
  </div>

</body>
</html>