{% extends 'HTML_Core/base.html' %}

{% block content%}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>
{% endblock %}