{% extends 'HTML_Core/base.html' %}

{% block content%}
    <h1>Thread Detail</h1>
    <h2>{{ thread.title }}</h2>
    <p>Category: {{ thread.category }}</p>
    <h3>Posts:</h3>
    <ul>
      {% for post in thread.post_set.all %}
        <li>{{ post.content }}</li>
      {% empty %}
        <li>No posts found.</li>
      {% endfor %}
    </ul>

{% endblock %}