{% extends 'HTML_Core/base.html' %}

{% block content%}
    <h1>User Threads</h1>
    <ul>
      {% for thread in threads %}
        <li><a href="{% url 'thread_detail' thread.id %}">{{ thread.title }}</a></li>
      {% empty %}
        <li>No threads found.</li>
      {% endfor %}
    </ul>
{% endblock %}