header{
    background-color: #f2f2f2;
    padding: 20px;
}

    /* Стили для навигации в хедере */
nav{
    display: flex;
    justify-content: space-between;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    margin-right: 10px;
}

    /* Стили для сайдбара */
.sidebar{
    background-color: #f2f2f2;
    width: 200px;
    height: 100vh;
    float: left;
    padding: 20px;
}
.sidebar ul{
    list-style-type: none;
}

    /* Стили для основного контента */
.main-content{
    margin-left: 220px; /* Ширина сайдбара + отступ */
    padding: 20px;
}